@import "panel-text-color-black.css";

body{
	background-color: hsl(0, 0%, 87%);
}
header, footer{
	background-color: hsl(0, 0%, 74%);
}
#deleteStreamTooltip{
	background-color: hsla(0, 0%, 74%, 0.95);
}
header button, button, .item-stream{
	background-color: hsl(0, 0%, 81%);
}

/*				---- Box shadow ----				*/
header, .item-stream, footer{
	box-shadow: 0px 0px 5px 0px hsl(0, 0%, 87%);
}
